/* .extra{
    display: none;
    
} */
*{
    font-size: 20px;
}
#removeField{
    display: none;
}
/* @media screen and (max-width: 992px) {
    
    .extra {
        display: block; 
    }
} */
label{
    font-size: 20px;
    font-weight: bold;
}
.edit-btn{
    width: 10rem;
    margin: auto;
}

#myTable
{
    background-color:rgb(55 84 88);
}
#myTable td, #myTable th {
    border: 1px solid black; /* Adjust border color and thickness as needed */

}

#personalDetail td, #personalDetail th {
    border: 1px solid black; /* Adjust border color and thickness as needed */
}

#educationDetail td, #educationDetail th {
    border: 1px solid black; /* Adjust border color and thickness as needed */
}

.btn{
    background-color: #1dcd8d !important;
    color: black !important;
    font-weight: bold !important;
}